body {
  margin: 0;
  font-family: "Roboto";
  font-size: 14px;
}
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: auto;
}

h3 {
  padding: 16px;
  padding-bottom: 32px;
  font-family: "Pacifico";
  font-size: 40px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.insta-logo {
  display: flex;
  align-items: center;
}

.insta-logo img {
  width: 25px;
  padding: 16px;
  display: none;
}

.nav-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  padding: 8px;
  width: 250px;
}

.menu-button {
  display: flex;
  align-items: center;
}

.menu-button:hover {
  background-color: rgba(199, 199, 199, 0.3);
  border-radius: 8px;
}

.menu img {
  width: 25px;
  padding: 16px;
}
.profil-img {
  border-radius: 30px;
}

.story-container {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  margin: 32px 0;
  padding: 0 0 8px 8px;
  font-weight: bold;
  text-align: center;
}

.content {
  width: 50vw;
}

.story-box {
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.story-block {
  display: grid;
  justify-items: center;
}

.menu-button {
  display: flex;
  align-items: center;
}

.menu-button:hover {
  background-color: rgba(199, 199, 199, 0.3);
  border-radius: 8px;
}

.menu img {
  width: 25px;
  padding: 16px;
}

.profil-img {
  border-radius: 30px;
}

.profil {
  position: absolute;
  right: 0;
  padding: 24px;
}

.nickname {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-info {
  display: flex;
  padding-bottom: 16px;
}

.img-post {
  width: 100%;
}

.img-round {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.profile-post {
  display: flex;
  padding: 8px 0;
}

.img-round-small {
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

.post {
  margin: 65px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.post-img {
  display: flex;
  justify-content: center;
}

.icon-buttons {
  display: flex;
  justify-content: space-between;
}

.icons {
  width: 25px;
  padding: 8px;
}

.icons:hover {
  cursor: pointer;
}

.comment {
  display: flex;
  justify-content: space-between;
}

input {
  border: none;
  width: 300px;
}

input:focus {
  outline: none;
}

button {
  border: none;
  background-color: white;
  color: #0095f6;
}

button:hover {
  color: black;
  cursor: pointer;
}

.padding {
  padding: 8px 0;
}

.profile-side {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

footer {
  display: none;
  justify-content: space-around;
  padding: 16px 0;
  padding: 16px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.img-round-footer {
  height: 30px;
  border-radius: 30px;
}

footer img {
  height: 30px;
}

.d-none {
  display: none;
}

@media (max-width: 1265px) {
  .menu-text {
    display: none;
  }
  h3 {
    display: none;
  }

  .insta-logo img {
    display: flex;
  }
  .nav-menu {
    width: unset;
  }

  .profil {
    display: none;
  }

  .content {
    width: 80vw;
  }
}

@media (max-width: 850px) {
  .nav-menu {
    display: none;
  }

  .profil {
    display: none;
  }

  .post {
    margin: 65px 0;
  }

  .profile-post {
    padding: 8px;
  }

  .padding {
    padding: 8px;
  }

  .content {
    width: 100vw;
  }

  footer {
    display: flex;
  }
}

@media (max-width: 480px) {
  .story-box {
    justify-content: unset;
    width: 100vw;
  }
  input {
    border: none;
    width: 200px;
  }
}
